.panel-body {
	font-size: 1.15em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: all 0.5s;
}

.center:hover {
	transform: scale(1.05);
	box-shadow: 4px 4px 4px 
}